

/* Estilos por defecto */
/* Reset básico */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

/* Corregir estilos para elementos HTML5 que no tienen definiciones de estilo por defecto */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Corregir los márgenes de las listas */
ol, ul {
    list-style: none;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    }

.navbar-brand img {
    height: 5rem;
    width: auto;
    /* max-height: 5rem; */
}


/* Añade tu propio estilo a partir de aquí */
#contacto{
    padding: 20px;
    background-color: #f9f9f9;
    border 1px solid #ccc;
}
#contacto form div {
    margin-bottom: 15px;
}
#contacto label {
    display: block;
    margin-bottom: 5px;
}
#contacto input, #contacto textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#contacto button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#contacto button:hover{
    background-color: #0056B3;
}



@media (max-width: 767px) {
    .embed-responsive {
        height: 200px; /* Ajusta la altura para dispositivos móviles */
    }
}