

/* Estilos por defecto */

.navbar-brand img {
    height: 5rem;
    width: auto;
    max-height: 5rem;
}


/* Añade tu propio estilo a partir de aquí */




@media (max-width: 767px) {
    .embed-responsive {
        height: 200px; /* Ajusta la altura para dispositivos móviles */
    }
}