

/* Estilos por defecto */
/* body {
    margin: 0;
  font-family: 'Roboto', sans-serif;
} */

/* Añade tu propio estilo a partir de aquí */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand img {
    height: 5rem;
    width: auto;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-weight: 500;
}

@media (max-width: 767px) {
    .embed-responsive {
        height: 200px; /* Ajusta la altura para dispositivos móviles */
    }
}